body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
}

.container {
  min-height: 100vh;
  padding: 30px;
  background: radial-gradient(circle at top, #3a1c00, black 60%);
}

.logo {
  text-align: center;
  font-size: 60px;
  color: orange;
  font-weight: 900;
  line-height: 0.9;
  margin-top: 40px;
  text-shadow: 0 0 20px orange;
}

.logo span {
  font-size: 42px;
}

.contact {
  text-align: center;
  margin: 50px 0 30px;
  letter-spacing: 8px;
  color: #aaa;
}

.card {
  display: block;
  text-decoration: none;
  color: white;
  background: rgba(255,255,255,0.05);
  padding: 25px;
  border-radius: 25px;
  margin-bottom: 20px;
  border: 1px solid rgba(255,255,255,0.1);
}

.title {
  color: orange;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.handle {
  font-size: 28px;
  font-weight: bold;
}